name: Pipeline CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    
- name: Install dependencies
  working-directory: ${{ github.workspace }}
  run: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip install flake8

    
    - name: Lint with flake8
      working-directory: the_button
      run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    
    - name: Run tests
      working-directory: the_button
      run: python manage.py test
